@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CODEPIPELINE AND CODE DEPLOY</h1>
    <h2 class="display-4">HELLO WORD THIS IS AWS</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
